.payments_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 70vh;
}

.headline {
  margin: 0 auto;
  margin-top: 1.25em;
  width: fit-content;
}
.payment_wallets {
  display: flex;
  justify-content: space-evenly;
}

.wallets {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 1.25rem;
  margin-top: 50px;
}
