.policy_container {
  min-height: 70vh;
  width: 60ch;
  margin: 0 auto;
  margin-bottom: 5vh;
}
.headline {
  margin: 0 auto;
  margin-top: 1.25em;
  width: fit-content;
}

.info {
  font-size: 1.1em;
  margin-top: 1.25rem;
}
