/* .container {
    max-width: 1075px;
    margin: 0 auto;
    padding: 25px 0;
    display: grid;
    grid-template-columns: 35% 60%;
    grid-column-gap: 5%;
} */

.content{
    display: grid;
    grid-template-columns: 35% 60%;
    grid-column-gap: 5%;
    padding: 25px 0;
}

@media (max-width: 1024px) {
    .content{
        display: grid;
        grid-template-columns: 100%;
        grid-column-gap: 0;
        padding: 25px 0;
    }
}



.name{
    text-transform: uppercase;
    margin-bottom: 20px;
    position: relative;
}

.best_card_btn{
    display: inline-block;
    padding: 10px 24px;
    background: var(--btn-color);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 29px;
    color: #ffffff;
    cursor: pointer;
}

.btn_card_price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.price{
    font-size: 16px;
}

.price span{
    color: var(--btn-color);
    font-weight: bold;

}

.sale{
    clip-path: polygon(50% 0%, 70% 30%, 100% 50%, 70% 70%, 50% 100%, 30% 70%, 0 50%, 30% 30%);
    display: inline-flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background: #f00;
    color: #fff;
    position: absolute;
    top: -25px;
    left: -25px;
    transform: rotate(-12deg);
}

.dis_price{
    text-decoration: line-through;
}