.new_container {
    max-width: 1180px;
    margin: 0 auto;
}

.new_card {
    width: 580px;
    background: #ffffff;
    margin-top: 24px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    padding: 32px 0 32px 32px;
    display: flex;
    align-items: center;
}

.new_card_right{
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: 20px;
}

.new_card_wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.new_card_left {
    display: flex;
    flex-direction: column;
    max-width: 40%;
}
.new_card_name {
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;

    color: #333333;
}

.new_card_descr {
    margin-top: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    color: #000000;
}

.new_card_btn {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    width: 157px;
    height: 42px;
    left: calc(50% - 157px / 2 - 479.5px);
    background: #f2c94c;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    cursor: pointer;
}
