.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}
.header{
}
.nav{
}
.header a {
    color:var(--txt-bright-color);
}
.header a:hover{
    color: var(--btn-color);
}

.nav_logo {
    width: 132px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer !important;
}

.nav_logo > span {
    font-weight: bold;
    font-size: 18px;
}

.nav_list {
    display: flex;
    list-style-type: none;
    font-size: 14px;
    align-items: center;
    justify-content: space-between;
    width: 455px;
}
.basket_svg{
    filter: invert(92%) sepia(19%) saturate(266%) hue-rotate(5deg) brightness(118%) contrast(94%);
}
.basket_icon{
    position: relative;
}

.basket_length{
    position: absolute;
    top: -5px;
    right: -5px;
    background: #f00;
    color: #fff;
    border-radius: 50%;
    font-size: 12px;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.burger{
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: #00000000;
    display: none;
    align-items: center;
}
.burger_content{
    width: 24px;
    height: 2px;
    cursor: pointer;
    position: relative;
    background: var(--txt-bright-color);
    border-radius: 2px;
}
.burger_content::after,
.burger_content::before{
    content: "";
    width: 24px;
    height: 2px;
    cursor: pointer;
    position: absolute;
    background: var(--txt-bright-color);
    border-radius: 2px;
}

.burger_content::before{
    top: -7px;
}
.burger_content::after{
    top: 7px;
}
@media (max-width: 1024px) {
    
    .nav_list {
        display: none;
    }

    .burger{
        display: flex;
    }
    
    .basket_icon{
        display: none;
    }

    .basket_icon_mobile{
        position: relative;
    }
    .modal{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background:var(--dark-background);
        z-index: 9999;
        padding: 50px;
    }
    .list_mobile{
        list-style-type: none;
    }
    .list_mobile li{
        margin-bottom: 10px;
    }
    .modal_close_position{
        position: absolute;
        right: 10px;
        top: 10px;
    }
    .modal_close{
        width: 24px;
        height: 24px;
        cursor: pointer;
        background: transparent;
        position: relative;
    }
    .modal_close::after,
    .modal_close::before{
        content: "";
        width: 24px;
        height: 2px;
        background: var(--txt-bright-color);
        position: absolute;
        top: 45%;
    }
    .modal_close::after{
        transform: rotate(45deg);
    }
    .modal_close::before{
        transform: rotate(-45deg);
    }
}