.hero {
    display: flex;
    justify-content: flex-start;
    padding: 130px 0;
}

.hero_h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 78px;
    color: var(--bright-font);
}

.hero_left {
    height: 100%;
    width: 55%;
    padding: 0.5em;
    background: rgba(0, 0, 0, 0.58);
    border-radius: 5px;
    box-shadow: 0 0 10px black;
}
.hero_left > p{
    color:var(--bright-font);
}
.slider_frame{
    top: 3.85em;
    left: 0;
    z-index: -1;
    overflow: hidden;
    width: 100vw;
    height: 96vh;
    position: absolute;
}
@keyframes slider_animation {
    0% {left: 0%;}
    10% {left: 0%;}
    20% {left: 100%;}
    30% {left: 100%;}
    40% {left: 200%;}
    50% {left: 200%;}
    60% {left: 100%;}
    70% {left: 100%;}
    80% {left: 0%;}
    90% {left: 0%;}
    100% {left: 0%;}

}
.slider_images{
    width: 400%;
    height: 100%;
    position: relative;
    margin: 0 0 0 -200%;
    animation-name: slider_animation;
    animation-duration: 33s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}
.slider_image{
    height: 100%;
    width: 100vw;
    position: relative;
    float: left;
}






.hero_left > p {
    margin-top: 20px;
}

.input_wrapper {
    display: flex;
    margin-top: 80px;
    position: relative;
    align-items: center;
}
.modalInput{
    position: absolute;
    top: 60px;
    left: 0;
    box-shadow: 4px 4px 5px #00000066;
    width: 380px;
    padding: 10px;
    background: var(--bright-font);
}
.modalInput>a{
    border-bottom: 1px solid #ccc;
    display: block;
    padding: 10px 0;
}

.hero_input {
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    border: 2px solid var(--btn-color);
    box-shadow: 2px 2px 5px  rgba(0, 0, 0, 0.462);
    background: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.hero_input input {
    width: 100%;
    border: none;
    background: none;
    font-size: 16px;
    outline: none;
}
.hero_input svg{
    fill: var(--btn-color);
}

.hero_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 34px;
    width: 128px;
    height: 58px;
    background:var(--btn-color);
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    outline: none;
    margin-left: 20px;
}

.hero_right{
    position: absolute;
    right: 0;
    width: calc(450 / 1920 * 100vw);
    height: calc(450 / 1920 * 100vw);
}

@media (max-width: 1024px) {
    .hero {
        flex-direction: column;
    }
    .hero_left{
        width: 100%;
    }
    .modalInput{
        width: 100%;
    }
    .hero_input {
        width: 100%;
        height: 100%;
        padding: 10px 20px;
        border: 2px solid #bdbdbd;
        border-radius: 10px;
        display: flex;
        align-items: center;
    }
    .hero_input input {
        width: 100%;
        border: none;
        font-size: 16px;
        outline: none;
    }
    .hero_input svg{
        fill: #bdbdbd;
    }
    
    .hero_btn {
        display: none;
    }
    .hero_right{
        display: none;
    }
}

@media (max-width: 770px) {
    .hero {
        flex-direction: column;
    }
    .hero_left{
        width: 100%;
    }
    .hero_h1 {
        font-size: 50px;
    }
    .modalInput{
        width: 100%;
    }
    .hero_input {
        width: 100%;
        height: 100%;
        padding: 10px 20px;
        border: 2px solid #bdbdbd;
        border-radius: 10px;
        display: flex;
        align-items: center;
    }
    .hero_input input {
        width: 100%;
        border: none;
        font-size: 16px;
        outline: none;
    }
    .hero_input svg{
        fill: #bdbdbd;
    }
    
    .hero_btn {
        display: none;
    }
    .hero_right{
        display: none;
    }
}