.hero {
    display: flex;
    justify-content: flex-start;
    height: 600px;
    padding: 130px 0;
}

.hero_h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 78px;
    color: #000000;
}

.hero_left {
    height: 100%;
    width: 55%;
    margin-left: 180px;
}

.hero_left > p {
    margin-top: 20px;
}

.input_wrapper {
    display: flex;
    margin-top: 80px;
    position: relative;
}
.modalInput{
    position: absolute;
    top: 60px;
    left: 0;
    box-shadow: 4px 4px 5px #00000066;
    width: 380px;
    padding: 10px;
    background: #fff;
}
.modalInput>a{
    border-bottom: 1px solid #ccc;
    display: block;
    padding: 10px 0;
}

.hero_input {
    width: 380px;
    height: 58px;
    border: 2px solid #bdbdbd;
    border-radius: 10px;

}

.hero_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 34px;
    width: 128px;
    height: 58px;
    background: #f2c94c;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    outline: none;
    margin-left: 20px;
}
