.container{
    min-width: 300px;
    width: 50%;
    border: 1px solid var(--dark-background);
    box-sizing: border-box;
    padding: 1em;
    box-shadow: 2px 2px 7px  rgba(32, 32, 32, 0.637) ;
    border-radius: 5px;
    background-color: white;
    margin: auto;
    justify-content: space-around;
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    height: 20em;
    flex-direction: column;
}
.order_info{
    height: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction:column ;
}
.form{
    display: grid;
    column-gap: 1em;
    grid-auto-flow: column;
    grid-template-columns: 40% 15% 15%  15%;
}
.form_item{
    height: 3.5em;
}
.submit_btn{
    background: rgb(67, 206, 67);
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 600;
}
.input{
    box-sizing: border-box;
    padding-left: 1em;
}