

.contacts_left{
    margin-top: 60px;
}

.iframe{
    overflow: hidden;
    border-radius: 12px;
    margin-bottom: 60px;
    height: 300px;
}

.iframe iframe{
    width: 100%;
    height: 100%;
}

.contacts_right{
    margin-top: 60px;
}

.contacts_h1{
    text-align: center;
    margin-bottom: 50px;
}

.contacts_p{
    text-align: center;
    margin-bottom: 30px;
}


