@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  color: #333333;
}

h3 {
  font-size: 30px;
  font-weight: normal;
  color: #333333;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.gray_bg {
  padding: 40px 0;
  background: #f2f2f2;
}

.slick-prev:before,
.slick-next:before {
  color: rgba(0, 0, 0, 0.71) !important;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
